<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="oct">
  <xacro:include filename="$(find oct_description)/urdf/hc_sr04.xacro" />

  <xacro:macro name="oct" params="parent *origin">
    <link name="base_link">
      <visual>
        <origin rpy="0 -0.20 0" xyz="0 0 0.05"/>
        <geometry>
          <box size="0.035 0.05 0.1"/>
        </geometry>
        <material name="Blue">
          <color rgba="0 0.0 1.0 0.5"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 -0.20 0" xyz="0 0 0.05"/>
        <geometry>
          <box size="0.035 0.05 0.1"/>
        </geometry>
      </collision>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0.05"/>
        <mass value="0.180"/>
        <inertia ixx="6.0e-4" ixy="0" ixz="0" iyy="6.0e-4" iyz="0" izz="6.0e-4"/>
      </inertial>
    </link>
    
    <joint name="base_link_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="base_link"/>
      <xacro:insert_block name="origin"/>
      <axis xyz="0 1 0"/>
    </joint>

    <xacro:hc_sr04 name="oct_tissue" id="tissue" parent="${parent}">
      <xacro:insert_block name="origin"/>
    </xacro:hc_sr04>
    
    <xacro:hc_sr04 name="oct_nitinol" id="nitinol" parent="${parent}">
      <xacro:insert_block name="origin"/>
    </xacro:hc_sr04>
  </xacro:macro>

</robot>
