<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
  <xacro:include filename="$(find kuka_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find kuka_description)/urdf/iiwa7.xacro"/>
  <xacro:include filename="$(find suture_tool_description)/urdf/endo360.xacro" />
  <xacro:include filename="$(find oct_description)/urdf/oct.xacro" />
  <xacro:include filename="$(find maps_description)/urdf/maps.xacro" />
  
    <!-- kuka args -->
  <xacro:arg name="kuka_hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="kuka_robot_name" default="kuka"/>
  <xacro:arg name="kuka_parent" default="world"/>
  <xacro:arg name="kuka_offset_x" default="0"/>
  <xacro:arg name="kuka_offset_y" default="0"/>
  <xacro:arg name="kuka_offset_z" default="0"/>
  <xacro:arg name="kuka_offset_roll" default="0"/>
  <xacro:arg name="kuka_offset_pitch" default="0"/>
  <xacro:arg name="kuka_offset_yaw" default="0"/>
  
  <!-- suture tool args -->
  <xacro:arg name="suture_tool_parent" default="kuka_link_ee"/>
  <xacro:arg name="suture_tool_name" default="endo360"/>

  <!-- oct args -->
  <xacro:arg name="oct_parent" default="$(arg suture_tool_name)_needle"/>
  <xacro:arg name="oct_offset_x" default="0"/>
  <xacro:arg name="oct_offset_y" default="0"/>
  <xacro:arg name="oct_offset_z" default="0"/>
  <xacro:arg name="oct_offset_roll" default="0"/>
  <xacro:arg name="oct_offset_pitch" default="3.14"/>
  <xacro:arg name="oct_offset_yaw" default="0"/>
  <xacro:arg name="oct_tissue_visibility_mask" default="4294967294"/>
  <xacro:arg name="oct_nitinol_visibility_mask" default="4294967293"/>

  <!-- maps args -->
  <!-- maps left half args -->
  <xacro:arg name="maps_left_parent" default="world"/>
  <xacro:arg name="maps_left_name" default="left"/>
  <xacro:arg name="maps_left_offset_x" default="0.02"/>
  <xacro:arg name="maps_left_offset_y" default="0.4"/>
  <xacro:arg name="maps_left_offset_z" default="0.0"/>
  <xacro:arg name="maps_left_offset_roll" default="0.0"/>
  <xacro:arg name="maps_left_offset_pitch" default="0.0"/>
  <xacro:arg name="maps_left_offset_yaw" default="0.0"/>
  
  <!-- maps right half args -->
  <xacro:arg name="maps_right_parent" default="world"/>
  <xacro:arg name="maps_right_name" default="right"/>
  <xacro:arg name="maps_right_offset_x" default="-0.02"/>
  <xacro:arg name="maps_right_offset_y" default="0.4"/>
  <xacro:arg name="maps_right_offset_z" default="0.0"/>
  <xacro:arg name="maps_right_offset_roll" default="0.0"/>
  <xacro:arg name="maps_right_offset_pitch" default="0.0"/>
  <xacro:arg name="maps_right_offset_yaw" default="3.13"/>
  
  <link name="world"/>
  
  <!-- kuka -->
  <xacro:iiwa7 hardware_interface="$(arg kuka_hardware_interface)" robot_name="$(arg kuka_robot_name)" parent="$(arg kuka_parent)">
    <origin xyz="$(arg kuka_offset_x) $(arg kuka_offset_y) $(arg kuka_offset_z)" rpy="$(arg kuka_offset_roll) $(arg kuka_offset_pitch) $(arg kuka_offset_yaw)"/>
  </xacro:iiwa7>

  <!-- suture tool -->
  <xacro:suture_tool parent="$(arg suture_tool_parent)" tool_name="$(arg suture_tool_name)"/>  
    
  <!-- oct -->
  <xacro:oct parent="$(arg oct_parent)" tissue_visibility_mask="$(arg oct_tissue_visibility_mask)" nitinol_visibility_mask="$(arg oct_nitinol_visibility_mask)">
		<origin xyz="$(arg oct_offset_x) $(arg oct_offset_y) $(arg oct_offset_z)" rpy="$(arg oct_offset_roll) $(arg oct_offset_pitch) $(arg oct_offset_yaw)"/>
  </xacro:oct>

  <!-- maps -->
  <xacro:maps name="$(arg maps_left_name)" parent="$(arg maps_left_parent)" offset_x="$(arg maps_left_offset_x)" offset_y="$(arg maps_left_offset_y)" offset_z="$(arg maps_left_offset_z)" offset_roll="$(arg maps_left_offset_roll)" offset_pitch="$(arg maps_left_offset_pitch)" offset_yaw="$(arg maps_left_offset_yaw)"/>
  <xacro:maps name="$(arg maps_right_name)" parent="$(arg maps_right_parent)" offset_x="$(arg maps_right_offset_x)" offset_y="$(arg maps_right_offset_y)" offset_z="$(arg maps_right_offset_z)" offset_roll="$(arg maps_right_offset_roll)" offset_pitch="$(arg maps_right_offset_pitch)" offset_yaw="$(arg maps_right_offset_yaw)"/>
  
</robot>
