<?xml version="1.0"?>
<robot name="kuka" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find kuka_description)/urdf/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find kuka_description)/urdf/iiwa7.xacro"/>
  
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="kuka"/>
  <xacro:arg name="parent" default="world"/>
  <xacro:arg name="offset_x" default="0"/>
  <xacro:arg name="offset_y" default="0"/>
  <xacro:arg name="offset_z" default="0"/>
  <xacro:arg name="offset_roll" default="0"/>
  <xacro:arg name="offset_pitch" default="0"/>
  <xacro:arg name="offset_yaw" default="0"/>
  
  <link name="world"/>
  
  <!--iiwa-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="$(arg parent)">
    <origin xyz="$(arg offset_x) $(arg offset_y) $(arg offset_z)" rpy="$(arg offset_roll) $(arg offset_pitch) $(arg offset_yaw)"/>
  </xacro:iiwa7>
  
</robot>
